<h1>Friend</h1>
<body>
  <b>My Friends List</b>
  <table>
    <tr>
      <th>First-name</th>
      <th>Last-name</th>
      <th>Nick-name</th>
      <th>GitHub Pages</th>
    </tr>
    <tr>
      <td>Kongphop</td>
      <td>Inyeo</td>
      <td>Ja</td>
      <td>
        <nav>
          <a
            href="https://camt-mmit.github.io/2023_01-954447-001-lab-02-dom-and-javascript-JajaNaKrub/"
            >Lab02</a
          >
          <a
            href="https://camt-mmit.github.io/2023-01-954447-001-lab-03-introduction-to-typescript-JajaNaKrub/"
            >Lab03</a
          >
          <a
            href="https://camt-mmit.github.io/2023-01-954447-001-lab-04-introduction-to-angular-JajaNaKrub/"
            >Lab04</a
          >
        </nav>
      </td>
    </tr>
    <tr>
      <td>Warodom</td>
      <td>Techafong</td>
      <td>Andrew</td>
      <td>
        <nav>
          <a
            href="https://camt-mmit.github.io/2023_01-954447-001-lab-02-dom-and-javascript-andrewii23/"
            >Lab02</a
          >
          <a
            href="https://camt-mmit.github.io/2023-01-954447-001-lab-03-introduction-to-typescript-andrewii23/"
            >Lab03</a
          >
          <a
            href="https://camt-mmit.github.io/2023-01-954447-001-lab-04-introduction-to-angular-andrewii23/"
            >Lab04</a
          >
        </nav>
      </td>
    </tr>
  </table>
</body>
