<h1>Status</h1>
<body>
  <table>
    <tr>
      <td>Current Time</td>
      <td class="blue">::</td>
      <td>{{ currentTime }}</td>
    </tr>
    <tr>
      <td>User Agent</td>
      <td class="blue">::</td>
      <td>{{ userAgent }}</td>
    </tr>
    <tr>
      <td>Languages</td>
      <td class="blue">::</td>
      <td>{{ languages }}</td>
    </tr>
    <tr>
      <td>Is Cookie Enagled?</td>
      <td class="blue">::</td>
      <td>{{ cookies }}</td>
    </tr>
    <tr>
      <td>Logical Processors</td>
      <td class="blue">::</td>
      <td>{{ touches }}</td>
    </tr>
    <tr>
      <td>Max Touch Points</td>
      <td class="blue">::</td>
      <td>{{ logical }}</td>
    </tr>
  </table>
</body>
