<header>
  <h1>{{ title }}</h1>
  <nav>
    <a class="nav-list" routerLink="./hello-world" routerLinkActive="st-active"
      ><i class="material-symbols-outlined">public</i>World</a
    >
    <a class="nav-list" routerLink="./profile" routerLinkActive="st-active"
      ><i class="material-symbols-outlined"> account_circle</i>Profile</a
    >
    <a class="nav-list" routerLink="./friend" routerLinkActive="st-active"
      ><i class="material-symbols-outlined">group</i>Friend</a
    >
    <a class="nav-list" routerLink="./status" routerLinkActive="st-active"
      ><i class="material-symbols-outlined">check_circle</i>Status</a
    >
  </nav>
</header>

<router-outlet></router-outlet>
