<body>
  <h1>My Profile</h1>

  <h2>Basic Information</h2>
  <ul>
    <li>
      <p><b>Name:</b>Taratip Cheawsinrapatham</p>
    </li>
    <li>
      <p><b>Gender:</b>Male</p>
    </li>
    <li>
      <p><b>Age:</b> 20</p>
    </li>
  </ul>

  <h2>Autobiography</h2>
  <p>I come from Chiang Mai, Thailand. I love MAMA noodle. It so Yummy.</p>

  <h2>GitHub Pages</h2>
  <nav>
    <a
      href="https://camt-mmit.github.io/2023_01-954447-001-lab-02-dom-and-javascript-RiamTonG/"
      >Lab02</a
    >
    <a
      href="https://camt-mmit.github.io/2023-01-954447-001-lab-03-introduction-to-typescript-RiamTonG/"
      >Lab03</a
    >
    <a
      href="https://camt-mmit.github.io/2023-01-954447-001-lab-04-introduction-to-angular-RiamTonG/"
      >Lab04</a
    >
  </nav>
</body>
